/* 나의 단어장의 단어 */
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
}

/* 단어 의미 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

/* 단어 */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 단어장 타이틀 */
@font-face {
  font-family: 'Cafe24ClassicType-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

#my-container {
  height: 100vh;
  overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/* 헤더 컨테이너 */
.header-container {
  background-color: #FFE7AC;
  background-image: url(./img/word-bg.png);
  height: 30vh;
  position: relative;
}

/* 검색박스 */
.search {
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.input1 {
  font-family: 'Pretendard-Regular';
  width: 500px;
  height: 50px;
  padding: 15px;
  border: #1E3564 solid 3px;
  font-size: 1.5em;
  float: left;
}

.input1:focus {
  outline: none;
}

.btn {
  background-color: #1E3564;
  background-color: #1E3564;
  background-image: url('\Vector.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: 50px;
  height: 50px;
  border: #1E3564 solid 3px;
  cursor: pointer;
}

/* ---------------------------------------------------------------------- */
/* 바디 컨테이너 */
.body-container {
  height: 70vh;
  background-image: url(./img/wordbody-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------------------------------------------------------------- */
/* 단어장 리스트 */
.dictionary-container {
  width: 75%;
  height: 100%;
  padding: 0px 0px 0px 100px;
  float: left;
  overflow: hidden;
}

.dictionary-box {
  height: 100%;
  box-shadow: 3px 3px 5px black;
}

.dictionary {
  background-color: #1E3564;
  color: white;
  text-align: left;
  height: 7%;
  line-height: 49px;
  padding: 0px 50px;
  vertical-align: middle;
  font-family: 'Cafe24ClassicType-Regular';
  font-size: 23px;
}

/* 표 */
.word-list {
  height: 93%;
  border-collapse: collapse;
  background-color: antiquewhite;
}

.word-list tr {
  height: calc(100% / 10);
  border: 2px solid #1E3564;
  border-top: none;
}

.word-list td:nth-child(2) {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.word-list td p {
  margin: 0px;
}

/* 단어 */
.result_word {
  font-family: 'NanumSquareNeo-Variable';
  padding: 0px 20px;
}

.result_word b {
  color: #002e8a;
}

.result_word div {
  float: left;
  width: 150px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result_word a {
  text-decoration: none;
  font-size: 1.1em;
  line-height: 28px;
  color: black;
  background-color: rgba(255, 220, 124, 0.5);
}

.result_word a:visited {
  background-color: rgba(255, 169, 169, 0.5);
}

.add_btn {
  float: left;
  color: #1E3564;
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add_btn:hover {
  background-color: #1E3564;
  color: white;
  border-radius: 5px;

}

/* 의미 */
.result_content {
  font-family: 'Pretendard-Regular';
  font-size: 1em;
  padding: 0px;
  padding: 10px 20px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 1100px;
  /* background-color: aqua; */
}

/* ---------------------------------------------------------------------- */
/* 내 단어장 리스트 */
.my-word-container {
  width: 25%;
  float: left;
  height: 100%;
  overflow-y: scroll;
}

.word_list_title {
  background: linear-gradient(to bottom, #df445d, #df6276, #df445d);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 478px;
  height: 45px;
  line-height: 45px;
  font-family: 'Cafe24ClassicType-Regular';
  font-size: 22px;
}

.my-word_list {
  margin-top: 40px;
  padding: 40px 70px;
}

/* 스크롤 css */
.my-word-container::-webkit-scrollbar {
  width: 5px;
}

.my-word-container::-webkit-scrollbar-thumb {
  background: navy;
  border-radius: 5px;
}

.my-word_list-box {
  background-color: white;
  width: 100%;
  min-height: 530px;
  height: 100%;
  padding: 20px 10px;
  border-radius: 20px;

}

.my-words {
  width: fit-content;
  padding-left: 8px;
  margin: 5px auto;
  position: relative;
}

.color {
  width: 300px;
  height: 65px;
}

.my-words a {
  text-decoration: none;
  color: black;
}

.my-word-contents {
  position: absolute;
  top: 0px;
  z-index: 3;
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
  border: #FBCEB1;
}

.word_title {
  float: left;
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  height: 50px;
  line-height: 48px;
  padding: 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dlt_btn {
  float: left;
  font-size: 25px;
  margin-top: 12px;
  border-radius: 50%;
  color: #002e8a;
  background-color: white;
  border-color: transparent;
  cursor: pointer;
}

/* 클리어 */
.search::after,
.my-words::after {
  display: block;
  content: "";
  clear: both;
}

/* ---------------------------------------------------------------------- */
/* alert */
.alert {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 38%;
  left: 50%;

  transform: translateX(-50%);

  width: 300px;
  /* height: 110px; */
  padding: 30px 0px;
  background-color: #F5F5DC;
  border: 5px solid #1E3564;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);

  font-family: 'Pretendard-Regular';
  font-size: 16px;
  font-weight: bold;
  color: #1E3564;
  animation: fadein .2s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.alert-content {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.close-btn {
  padding: 7px 15px;
  margin-top: 5px;
  background-color: #1E3564;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Pretendard-Regular';
  font-size: 15px;

}

.close-btn:hover {
  background-color: #ffca39;
}